<!DOCTYPE html>

<html lang="en">
	<html lang="en">
		<head>
			<title>Sign Up</title>
			<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous"/>
			<link rel="stylesheet" type="text/css" href="pennbook.css"/>
			<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
			<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
			<meta charset="utf-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
		</head>
	<script>
		<!-- Function to toggle password visibility -->
		function showPassword() {
			var pass = document.getElementById("myNewPassword");
			if (pass.type === "password") {
				pass.type = "text";
			} else {
				pass.type = "password";
			}
		}
		
		<!-- Check if the first two interests are unique, clear and re-prompts if not -->
		function checkInterestUnique() {
			var interest1 = document.getElementById("myFirstInterest").value;
			var interest2 = document.getElementById("mySecondInterest").value;
			if (interest1 === interest2) {
				alert("You must select at least two unique interests.");
				document.getElementById("myFirstInterest").value = "";
				document.getElementById("mySecondInterest").value = "";
			}
		}
		
		<!-- Check if the username is alphanumeric only, clear and re-prompts if not -->
		function validateUsername() {
			var user = document.getElementById("myNewUsername").value;
			if (user.match(/[^0-9a-z]/i)) {
				alert("Username must be alphanumeric. Please enter a valid username.");
				document.getElementById("myNewUsername").value = "";
			}
		}
		
		<!-- Check if the full name is alphabetical only (space-permitting), clear and re-prompts if not -->
		function validateFullname() {
			var name = document.getElementById("myNewFullName").value;
			if (name.match(/[^a-z ]/i)) {
				alert("Full name must be alphabetical. Please enter a valid full name.");
				document.getElementById("myNewFullName").value = "";
			}
		}
		
		<!-- Check if the email is alphanumeric or contains @ symbol or . symbol, clear and re-prompts if not -->
		function validateEmail() {
			var email = document.getElementById("myNewEmail").value;
			if (email.match(/[^0-9a-z@.]/i)) {
				alert("Email must be alphanumeric. Please enter a valid email.");
				document.getElementById("myNewEmail").value = "";
			}
		}
		
		<!-- Check if the affiliation is alphanumeric only (space-permitting), clear and re-prompts if not -->
		function validateAffiliation() {
			var affiliation = document.getElementById("myNewAffiliation").value;
			if (affiliation.match(/[^0-9a-z ]/i)) {
				alert("Affiliation must be alphanumeric. Please enter a valid affiliation.");
				document.getElementById("myNewAffiliation").value = "";
			}
		}
	</script>
<body>
	<!-- Sign up page with new username, password, full name, birthday, email, and interests forms -->
  	<div class="login-box">
		<h1><center><b><p style="color:white">Sign Up</p></b></center></h1>
		<form action="/createaccount" method="post">
			<label><font color="white">Create a new username: </font></label>
			<input type="text" onkeyup="validateUsername()" autocomplete="off" id="myNewUsername" name="myNewUsername" required size="20" class="form-control">
			<label><font color="white">Create a new password: </font></label>
			<input type="password" autocomplete="new-password" id="myNewPassword" name="myNewPassword" required size="20" class="form-control">
			<input type="checkbox" onclick="showPassword()">
			<label><font color="white"> Show Password </font></label><br>
			<label><font color="white">Full name: </font></label>
			<input type="text" onkeyup="validateFullname()" autocomplete="off" id="myNewFullName" name="myNewFullName" required size="20" class="form-control">
			<label><font color="white">Birthday: </font></label>
			<input type="date" id="start" name="myNewBirthday" required size="20" value="2000-01-01" min="1900-01-01" max="2007-12-31" class="form-control">
			<label><font color="white">Enter a new email: </font></label>
			<input type="text" onkeyup="validateEmail()" autocomplete="off" id="myNewEmail" name="myNewEmail" required size="20" class="form-control">
			<label><font color="white">Enter your affiliation: </font></label>
			<input type="text" onkeyup="validateAffiliation()" autocomplete="off" id="myNewAffiliation" name="myNewAffiliation" required size="20" class="form-control"><br>
			<!--Select 5 Interests-->
			<font color="white"><label>Select at least 2 interests.</label>
			<br>
			<label>Interest 1: </label>
			<select name="myFirstInterest" id="myFirstInterest" onchange="checkInterestUnique()" required>
				<option value="">Select an Interest</option>
				<option value="ARTS">Arts</option>
				<option value="ARTS & CULTURE">Arts & Culture</option>
				<option value="BLACK VOICES">Black Voices</option>
				<option value="BUSINESS">Business</option>
				<option value="CRIME">Crime</option>
				<option value="COLLEGE">College</option>
				<option value="COMEDY">Comedy</option>
				<option value="CULTURE & ARTS">Culture & Arts</option>
				<option value="DIVORCE">Divorce</option>
				<option value="EDUCATION">Education</option>
				<option value="ENTERTAINMENT">Entertainment</option>
				<option value="ENVIRONMENT">Environment</option>
				<option value="FIFTY">Fifty</option>
				<option value="FOOD & DRINK">Food & Drink</option>
				<option value="GOOD NEWS">Good News</option>
				<option value="GREEN">Green</option>
				<option value="HEALTY LIVING">Healthy Living</option>
				<option value="HOME & LIVING">Home & Living</option>
				<option value="IMPACT">Impact</option>
				<option value="LATINO VOICES">Latino Voices</option>
				<option value="MEDIA">Media</option>
				<option value="MONEY">Money</option>
				<option value="PARENTING">Parenting</option>
				<option value="PARENTS">Parents</option>
				<option value="POLITICS">Politics</option>
				<option value="QUEER VOICES">Queer Voices</option>
				<option value="RELIGION">Religion</option>
				<option value="SCIENCE">Science</option>
				<option value="SPORTS">Sports</option>
				<option value="STYLE">Style</option>
				<option value="STYLE & BEAUTY">Style & Beauty</option>
				<option value="TASTE">Taste</option>
				<option value="TECH">Tech</option>
				<option value="TRAVEL">Travel</option>
				<option value="WEDDINGS">Weddings</option> 
				<option value="WEIRD NEWS">Weird News</option>
				<option value="WELLNESS">Wellness</option>
				<option value="WOMEN">Women</option>
				<option value="WORLD NEWS">World News</option>
				<option value="WORLDPOST">Worldpost</option> 
				<option value="THE WORLDPOST">The Worldpost</option> 
			</select>
			<br>
			<label>Interest 2: </label>
			<select name="mySecondInterest" id="mySecondInterest" onchange="checkInterestUnique()" required>
				<option value="">Select an Interest</option>
				<option value="ARTS">Arts</option>
				<option value="ARTS & CULTURE">Arts & Culture</option>
				<option value="BLACK VOICES">Black Voices</option>
				<option value="BUSINESS">Business</option>
				<option value="CRIME">Crime</option>
				<option value="COLLEGE">College</option>
				<option value="COMEDY">Comedy</option>
				<option value="CULTURE & ARTS">Culture & Arts</option>
				<option value="DIVORCE">Divorce</option>
				<option value="EDUCATION">Education</option>
				<option value="ENTERTAINMENT">Entertainment</option>
				<option value="ENVIRONMENT">Environment</option>
				<option value="FIFTY">Fifty</option>
				<option value="FOOD & DRINK">Food & Drink</option>
				<option value="GOOD NEWS">Good News</option>
				<option value="GREEN">Green</option>
				<option value="HEALTY LIVING">Healthy Living</option>
				<option value="HOME & LIVING">Home & Living</option>
				<option value="IMPACT">Impact</option>
				<option value="LATINO VOICES">Latino Voices</option>
				<option value="MEDIA">Media</option>
				<option value="MONEY">Money</option>
				<option value="PARENTING">Parenting</option>
				<option value="PARENTS">Parents</option>
				<option value="POLITICS">Politics</option>
				<option value="QUEER VOICES">Queer Voices</option>
				<option value="RELIGION">Religion</option>
				<option value="SCIENCE">Science</option>
				<option value="SPORTS">Sports</option>
				<option value="STYLE">Style</option>
				<option value="STYLE & BEAUTY">Style & Beauty</option>
				<option value="TASTE">Taste</option>
				<option value="TECH">Tech</option>
				<option value="TRAVEL">Travel</option>
				<option value="WEDDINGS">Weddings</option> 
				<option value="WEIRD NEWS">Weird News</option>
				<option value="WELLNESS">Wellness</option>
				<option value="WOMEN">Women</option>
				<option value="WORLD NEWS">World News</option>
				<option value="WORLDPOST">Worldpost</option> 
				<option value="THE WORLDPOST">The Worldpost</option> 
			</select>
			<br>
			<label>Interest 3: </label>
			<select name="myThirdInterest">
				<option value=""></option>
				<option value="ARTS">Arts</option>
				<option value="ARTS & CULTURE">Arts & Culture</option>
				<option value="BLACK VOICES">Black Voices</option>
				<option value="BUSINESS">Business</option>
				<option value="CRIME">Crime</option>
				<option value="COLLEGE">College</option>
				<option value="COMEDY">Comedy</option>
				<option value="CULTURE & ARTS">Culture & Arts</option>
				<option value="DIVORCE">Divorce</option>
				<option value="EDUCATION">Education</option>
				<option value="ENTERTAINMENT">Entertainment</option>
				<option value="ENVIRONMENT">Environment</option>
				<option value="FIFTY">Fifty</option>
				<option value="FOOD & DRINK">Food & Drink</option>
				<option value="GOOD NEWS">Good News</option>
				<option value="GREEN">Green</option>
				<option value="HEALTY LIVING">Healthy Living</option>
				<option value="HOME & LIVING">Home & Living</option>
				<option value="IMPACT">Impact</option>
				<option value="LATINO VOICES">Latino Voices</option>
				<option value="MEDIA">Media</option>
				<option value="MONEY">Money</option>
				<option value="PARENTING">Parenting</option>
				<option value="PARENTS">Parents</option>
				<option value="POLITICS">Politics</option>
				<option value="QUEER VOICES">Queer Voices</option>
				<option value="RELIGION">Religion</option>
				<option value="SCIENCE">Science</option>
				<option value="SPORTS">Sports</option>
				<option value="STYLE">Style</option>
				<option value="STYLE & BEAUTY">Style & Beauty</option>
				<option value="TASTE">Taste</option>
				<option value="TECH">Tech</option>
				<option value="TRAVEL">Travel</option>
				<option value="WEDDINGS">Weddings</option> 
				<option value="WEIRD NEWS">Weird News</option>
				<option value="WELLNESS">Wellness</option>
				<option value="WOMEN">Women</option>
				<option value="WORLD NEWS">World News</option>
				<option value="WORLDPOST">Worldpost</option> 
				<option value="THE WORLDPOST">The Worldpost</option> 
			</select>
			<br>
			<label>Interest 4: </label>
			<select name="myFourthInterest">
				<option value=""></option>
				<option value="ARTS">Arts</option>
				<option value="ARTS & CULTURE">Arts & Culture</option>
				<option value="BLACK VOICES">Black Voices</option>
				<option value="BUSINESS">Business</option>
				<option value="CRIME">Crime</option>
				<option value="COLLEGE">College</option>
				<option value="COMEDY">Comedy</option>
				<option value="CULTURE & ARTS">Culture & Arts</option>
				<option value="DIVORCE">Divorce</option>
				<option value="EDUCATION">Education</option>
				<option value="ENTERTAINMENT">Entertainment</option>
				<option value="ENVIRONMENT">Environment</option>
				<option value="FIFTY">Fifty</option>
				<option value="FOOD & DRINK">Food & Drink</option>
				<option value="GOOD NEWS">Good News</option>
				<option value="GREEN">Green</option>
				<option value="HEALTY LIVING">Healthy Living</option>
				<option value="HOME & LIVING">Home & Living</option>
				<option value="IMPACT">Impact</option>
				<option value="LATINO VOICES">Latino Voices</option>
				<option value="MEDIA">Media</option>
				<option value="MONEY">Money</option>
				<option value="PARENTING">Parenting</option>
				<option value="PARENTS">Parents</option>
				<option value="POLITICS">Politics</option>
				<option value="QUEER VOICES">Queer Voices</option>
				<option value="RELIGION">Religion</option>
				<option value="SCIENCE">Science</option>
				<option value="SPORTS">Sports</option>
				<option value="STYLE">Style</option>
				<option value="STYLE & BEAUTY">Style & Beauty</option>
				<option value="TASTE">Taste</option>
				<option value="TECH">Tech</option>
				<option value="TRAVEL">Travel</option>
				<option value="WEDDINGS">Weddings</option> 
				<option value="WEIRD NEWS">Weird News</option>
				<option value="WELLNESS">Wellness</option>
				<option value="WOMEN">Women</option>
				<option value="WORLD NEWS">World News</option>
				<option value="WORLDPOST">Worldpost</option> 
				<option value="THE WORLDPOST">The Worldpost</option> 
			</select>
			<br>
			<label>Interest 5: </label>
			<select name="myFifthInterest">
				<option value=""></option>
				<option value="ARTS">Arts</option>
				<option value="ARTS & CULTURE">Arts & Culture</option>
				<option value="BLACK VOICES">Black Voices</option>
				<option value="BUSINESS">Business</option>
				<option value="CRIME">Crime</option>
				<option value="COLLEGE">College</option>
				<option value="COMEDY">Comedy</option>
				<option value="CULTURE & ARTS">Culture & Arts</option>
				<option value="DIVORCE">Divorce</option>
				<option value="EDUCATION">Education</option>
				<option value="ENTERTAINMENT">Entertainment</option>
				<option value="ENVIRONMENT">Environment</option>
				<option value="FIFTY">Fifty</option>
				<option value="FOOD & DRINK">Food & Drink</option>
				<option value="GOOD NEWS">Good News</option>
				<option value="GREEN">Green</option>
				<option value="HEALTY LIVING">Healthy Living</option>
				<option value="HOME & LIVING">Home & Living</option>
				<option value="IMPACT">Impact</option>
				<option value="LATINO VOICES">Latino Voices</option>
				<option value="MEDIA">Media</option>
				<option value="MONEY">Money</option>
				<option value="PARENTING">Parenting</option>
				<option value="PARENTS">Parents</option>
				<option value="POLITICS">Politics</option>
				<option value="QUEER VOICES">Queer Voices</option>
				<option value="RELIGION">Religion</option>
				<option value="SCIENCE">Science</option>
				<option value="SPORTS">Sports</option>
				<option value="STYLE">Style</option>
				<option value="STYLE & BEAUTY">Style & Beauty</option>
				<option value="TASTE">Taste</option>
				<option value="TECH">Tech</option>
				<option value="TRAVEL">Travel</option>
				<option value="WEDDINGS">Weddings</option> 
				<option value="WEIRD NEWS">Weird News</option>
				<option value="WELLNESS">Wellness</option>
				<option value="WOMEN">Women</option>
				<option value="WORLD NEWS">World News</option>
				<option value="WORLDPOST">Worldpost</option> 
				<option value="THE WORLDPOST">The Worldpost</option> 
			</select>
			<br><br>
			</font>
			<input type="submit" value="Submit" onclick="checkInterestUnique()" class="btn btn-lg btn-primary btn-block">
		</form>
	</div>
	<br><br><br><br><br>
  	<!-- Button with link back to login page -->
	<div class="login-box">
		<center><a class="btn btn-primary btn-lg btn-block" href="/" role="button">Back to Login Page</a></center>
	</div>
</body>
</html>